// .about-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
//   justify-content: center;
//   height: 100vh;
//   width: 100vw;
//   background: linear-gradient(to bottom right, #ADD5F7, #7FB2F0);
// }

.about {
}

.about--portrait-container {
  margin: auto 0px;
}

.about--blurb-container {
  margin: 0 auto;
}

.about--blurb {
  margin: auto 0;
  text-align: center;

  h1 {
    padding: 20px;
    text-align: center;
  }

  p {
    padding: 20px;
    text-align: left;
    font-size: 1.2em;
  }

  h2 {
    text-align: left;
  }
}
