// .jumbo-logo {
//   height: 100vh;
// }
//
// #color-one {
//   animation: color-one 3s linear alternate infinite;
// }
//
// @keyframes color-one {
//   from {
//     stop-color: #29abe2;
//   }
//
//   to {
//     stop-color: #0071bc;
//   }
// }
//
// #color-two {
//   animation: color-two 3s linear alternate infinite;
// }
//
// @keyframes color-two {
//   from {
//     stop-color: #0071bc;
//   }
//
//   to {
//     stop-color: #29abe2;
//   }
// }
//
// #Layer_1 {
//   animation: fill-in 5s linear 1;
//   transform-origin: 50% 50%;
// }
//
// @keyframes fill-in {
//   from {
//     opacity: 0;
//   }
//
//   to {
//     opacity: 1;
//   }
// }
.jumbo-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.jumbo-logo--text {
  font-size: 5em;
  @media (max-width:768px) {
    font-size: 3em;
  }
}
