.jumbo-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.jumbo-logo__text {
  font-family: 'Crete Round', serif;
  font-size: 5em;
  @media (max-width:768px) {
    font-size: 3em;
  }
}

.jumbo-logo__text-small {
  font-family: 'Crete Round', serif;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
}
