//variables
$dark-blue: #16193b;
$roboto: 'Roboto', sans-serif;
$crete: 'Crete Round';
//imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
@import './styles/pure_css/base-min.css';
@import './styles/pure_css/grids-min.css';
@import './styles/pure_css/grids-responsive-min.css';

body {
  color: $dark-blue;
  font-family: $roboto;
}

.font-crete {
  font-family: $crete;
}

.hidden-phone {
  @media (max-width: 768px) {
    display: none;
  }
}

.hidden-tablet {
  @media (max-width: 1024px) {
    display: none;
  }
}

.bg-light {
  
}

.bg-dard {

}

@import './styles/Jumbotron';
@import './styles/About';
