@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
//@import './styles/Cloud.scss';
@import './styles/Jumbotron.scss';
@import '/styles/About.scss';

body {
  color: #16193B;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
